{
  "extends": "airbnb-base",
  "rules": {
    "indent": ["error", 4],
    "quotes": ["error", "double"],
    "no-alert": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "html"
  ]
}